@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');
body {
    font-family: "Zen Maru Gothic", serif;
    font-optical-sizing: auto;
}
.fw-100{
    font-weight: 100;
}
.fw-200{
    font-weight: 200;
}
.fw-300{
    font-weight: 300;
}
.fw-400{
    font-weight: 400;
}
.fw-500{
    font-weight: 500;
}
.fw-600{
    font-weight: 600;
}
.fw-700{
    font-weight: 700;
}
.fw-800{
    font-weight: 800;
}
.fw-900{
    font-weight: 900;
}
:root {
    --mycolor100: #030923;
    --mycolor200: #fff;
    --mycolor300: #d3d3d3;
    --mycolor01: #14b09b;
    --mycolor02: #EBC57C;
    --mycolor03: #91d4c2;
    --mycolor04: #c94f44;
    --mycolor05: #FAA98B;
    --mycolor06: #ee3239;
    --mycolor07: #fbc2eb;
    --mycolor08: #8fd3f4;
    --mycolor09: #96fbc4;
    --mycolor10: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    --mycolor11: #cfd9df;
    --mycolor12: #e6cfe6;
    --mycolor13: #F75000;
    --mycolor14: #C07AB8;
    --mycolor15: #408080;
    --mycolor16: #02C874;
    --mycolor17: #272727;
    --mybtncolor100: #000;
    --mybtncolor200: #fff;
    --mybtncolor01: #8AD5EB;
    --mybtncolor02: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
    --mybtncolor03: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    --mytextcolor100: #000;
    --mytextcolor200: #fff;
    --mytextcolor01: #f00;
     
}

/* background */
.bg-mycolor01 {
    background-color: var(--mycolor01);
}

.bg-mycolor02 {
    background-color: var(--mycolor02);
}

.bg-mycolor03 {
    background-color: var(--mycolor03);
}

.bg-mycolor04 {
    background-color: var(--mycolor04);
}

.bg-mycolor05 {
    background-color: var(--mycolor05);
}

.bg-mycolor06 {
    background-color: var(--mycolor06);
}

.bg-mycolor07 {
    background-color: var(--mycolor07);
}

.bg-mycolor08 {
    background-color: var(--mycolor08);
}

.bg-mycolor09 {
    background-color: var(--mycolor09);
}

.bg-mycolor100 {
    background-color: var(--mycolor100);
}

.bg-mycolor200 {
    background-color: var(--mycolor200);
}

.bg-mycolor300{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

.bg-mycolor400{
    background-image: linear-gradient(to bottom, #fa709a 0%, #fee140 100%);
}

.bg-mycolor500{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
}

.bg-mycolor600{
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.bg-mycolor700{
    background-image: linear-gradient(to right, #d4fc79 0%, #96e6a1 100%);
}

.bg-mycolor800{
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}

.bg-mycolor900{
    background-image: linear-gradient(to right, #f6d365 0%, #fda085 100%);
}

.bg-mycolor1000{
    background-image: linear-gradient(to right, #ff8177 0%, #ff867a 0%, #ff8c7f 21%, #f99185 52%, #cf556c 78%, #b12a5b 100%);
}

.bg-mycolor1100{
    background-image: linear-gradient(45deg, #E0E0E0 0%, #B0B0B0 99%, #707070 100%);
}

.bg-mycolor1150{
    background-image: linear-gradient(to right, #000000 0%, #434343 50%, #000000 100%);
}

.bg-mycolor1110{
    background-image: linear-gradient(to left, #A9A9A9 0%, #D9D9D9 100%);
}

.bg-mycolor1200{
    background-image: linear-gradient(to left, #333333 0%, #4d4d4d 100%);
}
/* background end */




/* text-color */
.text-color01{
    color: var(--mytextcolor01)
}

.text-color06{
    color: var(--mycolor06)
}

.text-color13{
    color: var(--mycolor13)
}

.text-color14{
    color: var(--mycolor14)
}

.text-color15{
    color: var(--mycolor15)
}

.text-color16{
    color: var(--mycolor16)
}

.text-color100{
    color: var(--mytextcolor100)
}

.text-color200{
    color: var(--mytextcolor200)
}

.text-color300{
    color: var(--mycolor01)
}
/* textcolor end */

.rolSt01{
    
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    top: -100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    
}

/* btn color */

.mybtncolor01{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    text-decoration: none;
    color: var(--mytextcolor100);
    background-color: var(--mybtncolor01);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px var(--mybtncolor100);
    margin-right: 20px;
}

.mybtncolor01:hover{
    background-color: var(--mycolor06);
    color: var(--mytextcolor200);
    font-size: 20px;
    box-shadow: 5px 5px 2px 2px var(--mycolor100);
}

.mybtncolor02{
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    text-decoration: none;
    color: var(--mytextcolor100);
    background-image: var(--mybtncolor02);
    border-radius: 5px;
    box-shadow: 2px 2px 6px 2px var(--mybtncolor100);
    margin-right: 20px;
}

.mybtncolor02:hover{
    background-image: var(--mybtncolor03);
    color: var(--mytextcolor200);
    font-size: 20px;
    box-shadow: 5px 5px 2px 2px var(--mycolor100);
}

/* btn color end */


/* border */
.myborder-01{
    border: 5px solid var(--mycolor07);
}

.myborder-02{
    border: 5px solid var(--mycolor08);
}

.myborder-03{
    border: 5px solid var(--mycolor09);
}
/* border end */

.bg-cover{
    background-position: center center;
    background-size: cover;
}

.box_roller{
    position: relative;
    overflow: hidden;
}
.roller{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_roller:hover .roller{
    top: 0;
    transition: top 0.8s;
}

@media screen and (max-width: 768px){
    .table-rwd thead{
        display: none;
    }
    .table-rwd tbody tr{
        display: block;
        margin-top: 15px;
        border: 5px  var(--mycolor01);
    }
    .table-rwd tbody tr td{
        display: block;
        overflow: hidden;
    }
    .table-rwd tbody tr td::before{
        content: attr(data-th)":";
        color: var(--mycolor06);
        font-weight: bolder;
        font-size: 22px;
        display: block;
        float: left;
        width: 30%;
        text-align: right;
        padding-right: 15px;
    }
    .table-rwd tbody tr td span.table-col{
        display: block;
        float: left;
        width: 70%;
    }
}